body {
  background-color: lightgray;
  font-family: monospace;
}

#box2 {
  background-color: red;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  height: 40px;
}

#box1 {
  background-color: blue;
  width: 400px;
  height: 40px;
}

.box {
  background-color: white;
  width: 400px;
  height: 40px;
  margin-left: 7px;
}

#title1 {
  color: red;
  font-weight: bold;
}

#title2 {
  color: blue;
  font-weight: bold;
}

.text {
  padding: 12px;
  padding-left: 17px;
  text-align: left;
}
