#solid,
#dashed,
#dotted {
  border-style: solid;
  margin: 10px;
  border-width: 5px;
  border-color: blue;
  background-color: yellow;
  box-shadow: 5px 5px 5px;
  border-radius: 15px;
}

#solid {
  border-style: solid;
}

#dashed {
  border-style: dashed;
}

#dotted {
  border-style: dotted;
}

.retangulo {
  border: solid 5px blue;
  margin: 5px auto;
  width: 300px;
  height: 50px;
  background-color: red;
}

#quadrado-externo {
  width: 500px;
  height: 500px;
  background-color: yellow;
  padding: 30px;
}

#quadrado-interno {
  width: 500px;
  height: 500px;
  background-color: green;
}
